# Dependencies
node_modules/

# Astro build output
dist/
.astro/

# Environment
.env
.env.*

# Editor
.DS_Store
*.swp
.vscode/

# Logs
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
